<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>James' Blog</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <script src="https://kit.fontawesome.com/1a3030e4f3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar">
      <div class="container">
        <div class="navigation">
          <div class="navbar-brand">
            <a class="navbar-brand-text" href="/">PERSONAL JOURNAL</a>
          </div>

          <div class="nav-item">
            <a class="nav-link" href="/">HOME</a>
          </div>
          <div class="nav-item">
            <a class="nav-link" href="/about">ABOUT</a>
          </div>

          <div class="nav-item">
            <a class="nav-link" href="/contact">CONTACT</a>
          </div>

          <% if(loggedIn){ %>
            <div class="nav-item">
              <a class="nav-link" href="/compose">COMPOSE</a>
            </div>

            <div class="nav-item">
              <a class="nav-link" href="/logout">LOGOUT</a>
            </div>
          <%}else{%>
            <div class="nav-item">
              <a class="nav-link" href="/login">LOGIN</a>
            </div>
          <%}%>

        </div>

        <div class="nav-burger">
          <a href="javascript:void(0);" class="nav-link" onclick="makeResponsive()"><i class="fas fa-bars"></i></a>
        </div>
      </div>
    </nav>
