<%- include("partials/header") -%>

<div class="main-container">
    <div class="main-content">
        <h1>Compose</h1>

        <form class="form" action="/compose" method="post">
            <label for="postTitle">Title</label>
            <input class="form-margin input-rounding" type="text" name="postTitle" id="">
            <label class="form-margin" for="postContent">Post</label>
            <textarea class="form-margin input-rounding" name="postContent" id="" cols="100" rows="20"></textarea>
            <button class="btn btn-small form-margin" type="submit">Submit</button>
        </form>
    </div>
</div>

<%- include("partials/footer") -%>
