<%- include("partials/header") -%>

    <div class="login-container">
    
        <form class="login-form" action="/login" method="post">
            <input class="form-control" type="text" name="username" placeholder="username" id="">
            <input class="form-control" type="password" name="password" placeholder="password" id="">
            <button class="btn btn-block form-margin" type="submit">Login</button>
        </form>
    </div>


<%- include("partials/footer") -%>